#list li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin: 0px 0px 10px -10px;
    width: 150px;
    line-height: 60px;
}

#list li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

#list li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #336699;
}

.blur-filter {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.remove-blur{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    -webkit-transform: translateZ(0);
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('success.png');
  width: 300px;
  height: 100px;
  margin: auto;
  text-align: center;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('warning.png');
  width: 300px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
  width: 300px;
  height: 100px;
  margin: auto;
  text-align: center;
}

.modal-dialog {
    width: 270px;
}
